straight/
auto-save-list/
elpy/
eln-cache/
eshell/
ltximg/
transient/
url/
.cache/
emojis/
pyim/
elpa/
quelpa/
semanticdb/
amx-items
smex-items
srecode-map.el
.dap-breakpoints
*~
tramp
recentf
.org-id-locations
org-roam.db
.#*
*#
.lsp*
